@font-face{
    font-family: "Brandon-Light";
    src: url('../fonts/Brandon_Grotesque/Brandon_light.otf');
}
@font-face{
    font-family: "Brandon";
    src: url('../fonts/Brandon_Grotesque/Brandon_reg.otf');
}
@font-face{
    font-family: "Brandon-Med";
    src: url('../fonts/Brandon_Grotesque/Brandon_med.otf');
}
@font-face{
    font-family: "Brandon-Bold";
    src: url('../fonts/Brandon_Grotesque/Brandon_blk.otf');
}
@font-face{
    font-family: "Brandon-Black";
    src: url('../fonts/Brandon_Grotesque/Brandon_bld.otf');
}

h1, h2, h3, h4, h5, h6, a, p, span, div, ul, li {
	color: $TEXT_GREY;
	font-family: "Brandon";
}

h1, h2, h3 {
	font-family: "Brandon-Med";
}

p {
  font-size: 16px;
}

a:hover, a:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
	opacity: 0.8;
}

button {
	font-family: 'Brandon-Med';
	outline: none !important;
}

.bg-theme {
  // light blue
  // background-color: #3cb8ce !important; 
  background-color: $THEME_GREEN !important;
  // * {
  // color: white !important;
  // }
}

.uib-datepicker-popup {
  .uib-datepicker-current {
    background-color: $THEME_GREEN;
  }

  .uib-datepicker-current:hover {
    background-color: #2a9e7f;
    opacity: 0.8;
  }

  .uib-close {
    background-color: white;
    border-color: #ccc;
    color: #555;
  }
  .uib-close:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.page-title {
	font-family: "Brandon-Light";
	color: $TEXT_GREY_SELECT;
}

.txt-error {
	color: red;
}

.txt-theme {
	color: $THEME_GREEN !important;
	font-family: "Brandon-Black";
}

.btn-theme {
	background-color: $THEME_GREEN;
	color: white;	
	height: 100%;
}

.btn-white {
	color: $TEXT_GREY_SELECT;
	background-color: white;
	border: 1px solid $BORDER_BUTTON_GREY;
}

.btn-theme:active, .btn-theme:focus, .btn-theme:hover {
	color: white;
	opacity: 0.8;
}

.txt-dark {
	color: $TEXT_DARK;
}

.txt-grey-select, .txt-grey-select span, a {
  color: $TEXT_GREY_SELECT;
}

#waitingRoom {
  thead td {
    border-bottom: 1px solid #ddd;
  }
}


.table-theme {
	width: 100%;
	font-size: 16px;
	tr:not(:last-child) {
		border-bottom: 1px solid #C0C0C0;
	}

  thead th {
    color: $TEXT_DARK !important;
    border-bottom: 1px solid #C0C0C0 !important;
    font-family: "Brandon-Med";
  }

	thead td {
		color: $TEXT_DARK;
	}

	td {
		vertical-align: middle !important;
	}

	tbody td:not(.numbering) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	td.numbering {
		font-size: 20px;
		padding-left: 15px;
		padding-right: 35px;
	}

	td button {
		padding: 8px 16px
	}

  @media(max-width: 600px) {
    td button {
      padding: 6px 8px
    }

    >tbody>tr>td, >tbody>tr>th, >tfoot>tr>td, >tfoot>tr>th, >thead>tr>td, >thead>tr>th {
        padding: 6px;
    }
  }
}

tr.has-sortable-headers {
  td:not(.no-sort) {
    cursor: pointer;
  }
}

#date-filter-container {
    .uib-datepicker-popup.dropdown-menu {
        padding: 10px;        
    }
}


.date-cell, .date-filter-container, #date-filter-container {
    .value-not-set {
        color: $TEXT_PLACEHOLDER;
    }

    .datetimepicker-container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .datepicker-input-row {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        margin-bottom: 15px;
        .datepicker-value {
            // color: $TEXT_DARK;
            color: #676767;
            white-space: nowrap;
            font-size: 16px;
        }
    }

    .datetimepicker-container {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .date-picker-toggle-link {
        position: absolute;
        padding-left: 5px;
    }

    table {
        th {
            padding-bottom: 3px;
            border-bottom: none !important;
            font-family: "Brandon-Light";
            button {
                border: none !important;
            }
            small {
                color: $TEXT_DARK !important;
                font-size: 14px;
                font-family: "Brandon";
            }
        }
        tr {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            border-bottom: none !important;

            // padding-top: 0 !important;
            // padding-bottom: 0 !important;
            // padding-left: 0;
            // padding-right: 0;
            // background-color: red;
            // width: 25px;
            // min-width: 25px;



            button {
                // padding: 5px 10px !important;
                padding: 0 !important;
            }    
        }
        .uib-title {
            font-size: 14px;
            pointer-events: none;
        }
        .uib-weeks {
            border-bottom: none !important;
        }
        .uib-day {
            padding: 0 !important;
            button {
                border: none !important;


                // border: none !important;
                // padding-left: 5px;
                // width: 25px;
                // min-width: 25px !important;
                // padding-right: 5px;
                // border: 1px solid black !important;
                width: 33px;
                height: 33px;
                // padding: 0 !important;
                span {
                    color: black !important;
                    font-size: 14px;
                }

                // dates on adjacent months
                span.text-muted {
                    color: $TEXT_GREY !important;
                }


                // current day
                span.text-info {
                    font-family: "Brandon-Med" !important;   
                }
            }

            button.btn[disabled] {
                text-decoration: line-through;
            }

            button:not(.btn-info) {
                // current day
                span.text-info {
                    background-color: red;
                    color: white !important;
                    border-radius: 100%;
                    width: 22px;
                    height: 22px;
                    display: inline-block;
                    text-align: center;
                }
            }

            // the first date of active month
            button.btn-default.active:not(.btn-info) {
                color: black !important;
                background-color: transparent !important;
                box-shadow: none;
            }

            // selected date
            button.btn-info {
                span {
                    color: white !important;
                    font-family: "Brandon";
                }
            }
        }    
    }

    div[uib-timepicker].ng-invalid-time {
        border: 1px solid red;
    }
    table.uib-timepicker {
        td.uib-time.am-pm {
            padding-left: 2px;

            button {
                padding-top: 6px !important;
                padding-bottom: 6px !important;
                padding-left: 6px !important;
                padding-right: 6px !important;
            }
        }
        td.uib-time {
            input {
                width: 40px;
            }
        }
        td.uib-separator {
            padding-right: 2px;
            padding-left: 2px;
        }
    }
    
}

.vid-loader {
  margin: 100px auto;
  font-size: 20px;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}



// .pd-spinner {
//   text-align: center;
//   margin-top: 50px;
// }
// .halfSpin {
//   position: relative;
//   display: inline-block;
//   width: 30px;
//   height: 15px;
//   border-top-left-radius: 19px;
//   border-top-right-radius: 19px;
//   border: 5px solid coral;
//   border-bottom: 0;
//   transform-origin: bottom center;
//   animation: 0.75s  infinite turner;
// }
  

// @keyframes turner  {
//   from {
//     transform: rotate(0turn);
//   }
//   to {
//     transform: rotate(1turn);
//   }

// }
//   



// The spinner:
.pd-loading {
  --speed: .5s;
  --size: 1em;
  --thickness: 6px;
  width: var(--size);
  height: var(--size);
  border: var(--thickness) solid;
  // border-color: #DDD #888 transparent transparent;
  border-color: $THEME_GREEN rgba(59, 198, 160, 0.5) transparent transparent;
  border-radius: 50%;
  animation: spinLoader var(--speed) infinite linear;
}

@keyframes spinLoader {
  to{ transform: rotate(1turn) }
}