$TEXT_GREY_SUBTLE: #A7A7A7;
$TEXT_GREY_SELECT: #666666;
$TEXT_GREY_LABEL: #8D8D8D;

$TEXT_GREY: #7F888D;

$BORDER_BUTTON_GREY: #808080;

$TEXT_LIGHT_GREY: #C6C6C6;
$TEXT_GREY_2: #666B6D;
$TEXT_PLACEHOLDER: #c1c4c5;

$THEME_RED: #F5526C;
$THEME_GREEN: #3BC6A0;
$THEME_PINK: #F75771;
$NAVY: #00589B;

$BORDER_GREY: #DFDFDF;
$STONE: #7F888D;
$LABEL_GREY: #EBEBEB;
$WELL_GREY: #EEEEEE;
$TEXT_DARK: #383838;
$TEXT_ERROR: #f44e42;

$INACTIVE_GREY: #DDDDDD;

$BG_LIGHT_GREY: #F2F2F2;


// main colors
$lightblue: #0089bd;
$orange: #e58f31;
$lightgray: #e5e5e5;

// shadows
$darkgray: #3c3c3d;
$darkblue: #005577;
$brown: #6e4203;

// gradients
$lightblueGradientEnd: #66abbc;
$orangeGradientEnd: #eab231;

